In [53]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [54]:
df = pd.read_csv('Data_source/books_data.csv')

In [55]:
df

,title,price,link_product,img_url,rating
0,A Light in the Attic,Â£51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,Three
1,Tipping the Velvet,Â£53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,One
2,Soumission,Â£50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,One
3,Sharp Objects,Â£47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Four
4,Sapiens: A Brief History of Humankind,Â£54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Five
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...,One
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...,Four
997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...,Five
998,1st to Die (Women's Murder Club #1),Â£53.98,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...,One
999,"1,000 Places to See Before You Die",Â£26.08,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...,Five

In [56]:
df['price'].str.replace('Â£','')

0      51.77
1      53.74
2      50.10
3      47.82
4      54.23
       ...
995    55.53
996    57.06
997    16.97
998    53.98
999    26.08
Name: price, Length: 1000, dtype: object

In [ ]:
def replace_row(price):
    string = str(price)
    float_data = string.replace('Â£','')
    return float_data

In [58]:
df['price'] = df['price'].apply(fix_price).astype(float)

In [60]:
df['price']

0      51.77
1      53.74
2      50.10
3      47.82
4      54.23
       ...
995    55.53
996    57.06
997    16.97
998    53.98
999    26.08
Name: price, Length: 1000, dtype: float64

In [61]:
df

,title,price,link_product,img_url,rating
0,A Light in the Attic,51.77,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,Three
1,Tipping the Velvet,53.74,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,One
2,Soumission,50.10,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,One
3,Sharp Objects,47.82,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Four
4,Sapiens: A Brief History of Humankind,54.23,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Five
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...,One
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...,Four
997,A Spy's Devotion (The Regency Spies of London #1),16.97,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...,Five
998,1st to Die (Women's Murder Club #1),53.98,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...,One
999,"1,000 Places to See Before You Die",26.08,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...,Five

In [62]:
def rating_to_int(col):
    if col == 'One':
        return 1
    elif col == 'Two':
        return 2
    elif col == 'Three':
        return 3
    elif col == 'Four':
        return 4
    elif col == 'Five':
        return 5

In [ ]:
df['rating'] = df['rating'].apply(rating_to_int).astype(int)

In [64]:
df['rating'].value_counts()

rating
1.0    226
3.0    203
5.0    196
2.0    196
4.0    179
Name: count, dtype: int64